.wishlistArea {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 300px;
    }

    .delete_btn{
        font-size: 20px;
        background-color: #F3D7CA;
    }
}