.navbar {
    z-index: 1;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: brown;
    gap: 50px;

    .title_navbar {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
            height: 30px;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .switchArea {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        .switchs {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }
    }

}